﻿@model IEnumerable<Test_VnR.Models.MonHoc>
@{
    ViewBag.Title = "KhoaHocDotnetCoreView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <h3>
        @item.TenMonHoc
    </h3>
}


